html {
    overflow-y: scroll;
}

h1 {
    font-weight: 400;
}

.post-title {
    margin-top: 2px;
    text-align: left;
    color: inherit;
}

.post-description {
    color:rgba(0, 0, 0, 0.70);
    font-size: 17px;
}

.post-details-mobile {
    margin-left: 10px;
}

.date {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.70);
    margin-bottom: 0;
}

.posts {
    margin-bottom: 20px;
}

.post-mobile {
    margin-bottom: 20px;
}


.post-detail-mobile h3 {
    font-size: 20px;
}

.pic {
    margin-top: 25px;
}

.about-text {
    color: rgba(0, 0, 0, 0.80);
}

.icon {
    margin-right: 20px;
    font-size: 32px;
} 