.post-title {
    margin-top: 2px;
    margin-bottom: 6px;
}

.post-description {
    color:rgb(58,58,60);
    font-size: 18px;
}

.date {
    font-size: 16px;
    font-weight: 400;
    color: rgb(58,58,60);
    margin-bottom: 0;
    font-style: italic;
}

.posts {
    margin-bottom: 20px;
}

.post-mobile {
    margin-bottom: 20px;
}


.post-detail-mobile h3 {
    font-size: 20px;
}

.about-text {
    color:rgb(58,58,60);
}

.icon {
    margin-right: 20px;
    font-size: 32px;
} 

@media (prefers-color-scheme: dark) {
    .date {
        color: rgb(142, 142, 147);
    }

    .post-description {
        color: rgb(215, 215, 216);
    }
}