.post-title {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 1.7rem;
    text-align: left;
    color: inherit;
}

.portrait-image {
    border-radius: 50%;
    max-width: 70%;
}

.date-block {
    padding: 12px 14px 14px 14px;
    width: 65px;
    height: 65px;
}

.date-block-mobile {
    padding: 10px 14px 14px 14px;
    width: 60px;
    height: 60px;
}

.date-block-mobile h3 {
    font-size: 16px;
}

.post-details {
    margin-top: 0px;
    margin-left: 10px;
}

.post-details-mobile {
    margin-left: 10px;
}

.date {
    color: white;
    text-align: center;
    font-size: 18px;
    line-height: 20px;
    margin: 0;
}

.post {
    margin-bottom: 45px;
}

.post-mobile {
    margin-bottom: 20px;
}


.post-detail-mobile h3 {
    font-size: 18px;
}

.pic {
    margin-top: 25px;
}

.about {
    margin-top: 0px;
}

.about-text {
    color: rgb(95, 95, 95);
    margin-bottom: 1px;
}

.icon {
    margin-right: 20px;
    font-size: 32px;
} 