body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", Helvetica, sans-serif;
}

a:hover, a:focus {
    text-decoration: none;
}

.top-bar {
    background-color: #fa6800;
    text-align: center;
    color: white;
    height: 50px;
}

.header {
    margin-top: 15px;
    margin-bottom: 55px;
}

.header a {
    color: rgba(0, 0, 0, 0.70);
}

.header h2 {
    color: rgba(0, 0, 0, 0.65);
    margin: 0px 5px;
    font-size: 1.5rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI SemiLight", "Open Sans Light", Verdana, Arial, Helvetica, sans-serif;
}

.mobile-header {
    margin-top: 15px;
    margin-bottom: 25px;
}

.selected-header {
    border-bottom-width: 3px;
    border-bottom-style: solid;
    padding-bottom: 5px;
}