a:hover, a:focus {
    text-decoration: none;
}

a:link, a:visited {
    color: rgb(1, 100, 200);
}

.top-bar {
    background-color: #fa6800;
    text-align: center;
    color: white;
    height: 50px;
}

.header {
    margin-top: 15px;
    margin-bottom: 55px;
}

.header a {
    color: rgba(0, 0, 0, 0.70);
}

.header h2 {
    font-size:20px;
    font-weight: 400;
    text-align: center;
}

.mobile-header {
    margin-top: 15px;
    margin-bottom: 25px;
}

.selected-header {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    padding-bottom: 4px;
}

.portrait-image {
    border-radius: 50%;
    max-width: 70%;
}