--- 
layout: photospage 
--- 

{% assign posts = site.tags.photos 
	| where:"year", "2018" %}

<div>2018</div>
<div class="row">
{% for post in posts %}
	<div class="col-4">
		<div class="card hover-container">
			<img class="card-img-top" src="https://jimmgarr.blob.core.windows.net/images/DSC_0271.jpg">
			<a href="{{ post.url }}">
				<div class="overlay">
					<h2 class="hover-text">Seattle, WA</h2>
				</div>
			</a>
		</div>
	</div>
{% endfor %}
</div>

{% assign posts = site.tags.photos 
	| where:"year", "2017" %}

<div>2017</div>
<div class="row">
{% for post in posts %}
	<div class="col-4">
		<div class="card hover-container">
			<img class="card-img-top" src="https://jimmgarr.blob.core.windows.net/images/DSC_0271.jpg">
			<a href="{{ post.url }}">
				<div class="overlay">
					<h2 class="hover-text">Chicago, IL</h2>
				</div>
			</a>
		</div>
	</div>
{% endfor %}
</div>