<!--Header-->
<!-- <div class="row cols-sm-9 cols-md-7 cols-lg-4 col-md-offset-1 col-lg-offset-2"> -->
    <div class="row cols-sm-2 col-md-offset-1 col-lg-offset-2 header">
        <img src="/assets/me.jpg" class="portrait-image"></img>
        <h2><a id="blog-header" href="/">Blog</a></h2>
        <h2><a id="photos-header" href="/albums">Photos</a></h2>
        <h2><a id="about-header" href="/about">About</a></h2>
    </div>
<!-- </div> -->
<div hidden>
    <div class="row mobile-header">
        <div class="col-12">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/">Posts</a>
                <a class="dropdown-item" href="/albums">Photos</a>
                <a class="dropdown-item" href="/about">About</a>
            </div>
            </div>
            </div>
    </div>
</div>