<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
    <meta charset="utf-8"></meta>

    <title>About | Jimmy Garrido</title>

    <script src="/js/header.js"></script>

    <link rel="stylesheet" href="/css/mini-default.min.css" >
    <link rel="stylesheet" href="/css/main.css">

    <style>
        .overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: .3s ease;
            background-color: #000000;
        }

        .hover-container:hover .overlay {
            opacity: .75;
        }
    </style>
</head>

<body>
    <div class="container">

        {% include header.html %}

        <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-6 col-md-offset-2 col-lg-offset-3">
                <h1>Hello!</h1>
                <p class="about-text">My name is Jimmy Garrido. I do mobile app development with Xamarin and UWP.</p>							
                <p class="about-text"> Check out my 
                    <a href="https://github.com/jimmgarrido" style="color:#0092fa">
                    <strong>GitHub</strong></a>,
                    follow me on
                    <a href="https://twitter.com/jimmgarrido" style="color:#0092fa">
                    <strong>Twitter</strong></a>,
                    or
                    <a href="mailto:jimmy@nexdev.co" style="color:#0092fa">
                    <strong>email</strong></a>
                    me.
                </p>
            </div>
        </div>
    </div>

    <script>
		(function () {
			var headerElement = document.getElementById("about-header");
			headerElement.classList.add("selected-header");
            // $("#").addClass("selected-header");
            RandomColor();
        })();
	</script>
</body>
</html>