<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
    <meta charset="utf-8"></meta>

    <title>About | Jimmy Garrido</title>

    <script src="/js/header.js"></script>

    <link rel="stylesheet" href="/css/mini-default.min.css" >
    <link rel="stylesheet" href="/css/main.css">

    <style>
        .overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: .3s ease;
            background-color: #000000;
        }

        .hover-container:hover .overlay {
            opacity: .75;
        }
    </style>
</head>

<body>
    <div class="container">

        {% include header.html %}

        <div class="row about">
            <div class="col-sm-12 col-md-8 col-lg-6 col-md-offset-2 col-lg-offset-3">
                <div id="welcome">
                    <h1>Hello,</h1>
                    <h1>I'm Jimmy Garrido.</h1>
                </div>
                <p>
                    I'm an app developer based in Northern California.
                </p>
                <p>
                    Check out my projects on 
                    <a href="https://github.com/jimmgarrido" style="color:#0092fa">
                    GitHub</a>,
                    or follow me on
                    <a href="https://twitter.com/jimmgarr" style="color:#0092fa">
                    Twitter</a>.
                </p>
            </div>
        </div>
    </div>

    <script>
		(function () {
			var headerElement = document.getElementById("about-header");
			headerElement.classList.add("selected-header");
        })();
	</script>
</body>
</html>