<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<title>{{ page.title }}</title>

	<link rel="stylesheet" href="/css/mini-default.min.css">
	<link rel="stylesheet" href="/css/vs.css">
	<link rel="stylesheet" href="/css/post.css">
	<link rel="stylesheet" href="/css/main.css">

	<script src="/js/header.js"></script>
</head>

<body>
	<div class="container">

		{% include header.html %}
		
		<!--Content-->
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<h4 id="date">{{ page.date | date: "%-d %B %Y" }}</h4>
				<h2 class="post-title"> {{ page.title }} </h2>

				<div class="post">			
					{{ content }}
			
					<h4 id="signature">--</h4>
				</div>
			</div>
		</div>
	</div>

	
	<script>
		(function () {
			var headerElement = document.getElementById("blog-header");
			headerElement.classList.add("selected-header");
            // $("#").addClass("selected-header");
            RandomColor();
        })();
	</script>
</body>

</html>